In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv('Absenteeism_data.csv')

In [3]:
df = raw_csv_data.copy()

In [4]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

Drop ID ( not needed in our analysis)

In [5]:
df = df.drop(['ID'], axis = 1)

Preprocessing Reasons for Absence Columns

In [6]:
df["Reason for Absence"]

0      26
1       0
2      23
3       7
4      23
5      23
6      22
7      23
8      19
9      22
10      1
11      1
12     11
13     11
14     23
15     14
16     23
17     21
18     11
19     23
20     10
21     11
22     13
23     28
24     18
25     25
26     23
27     28
28     18
29     23
30     18
31     18
32     23
33     18
34     23
35     23
36     24
37     11
38     28
39     23
40     23
41     23
42     23
43     19
44     23
45     23
46     23
47     23
48     22
49     14
50      0
51      0
52     23
53     23
54      0
55      0
56     18
57     23
58      0
59     23
60     23
61     23
62     23
63     23
64      0
65     23
66     23
67     23
68     23
69     23
70     23
71     23
72     23
73     23
74     19
75     14
76     28
77     26
78     23
79     28
80     23
81     23
82     13
83     21
84     23
85     10
86     22
87     14
88     23
89      6
90     23
91     21
92     13
93     28
94     28
95     28
96      7
97     23
98     23
99     19
100    23
101    26
102    23
103    26
104    19
105    22
106    28
107    28
108    23
109    22
110    27
111    19
112    23
113    23
114    19
115    27
116    18
117    27
118    23
119    28
120    27
121    27
122    27
123    27
124    27
125    27
126    27
127    27
128    27
129    18
130    18
131    27
132    23
133    27
134    27
135    23
136    22
137    23
138     1
139    11
140    28
141    23
142    28
143    22
144    11
145     1
146    28
147    23
148    23
149    23
150    25
151    18
152    23
153    23
154    19
155    28
156    19
157    19
158    17
159    22
160    13
161    13
162    14
163    13
164    11
165     1
166    26
167    13
168     6
169     8
170    28
171    23
172    14
173    13
174    23
175    11
176    13
177    11
178    11
179    13
180    14
181    28
182    14
183    28
184    28
185    23
186    28
187    13
188    23
189    28
190    28
191    13
192    23
193    23
194    14
195    28
196    28
197    19
198    19
199    12
200    19
201    13
202     7
203     0
204    13
205    28
206    28
207    18
208    19
209     7
210    28
211    12
212    13
213     0
214     0
215     0
216     0
217    11
218    13
219    22
220    19
221    22
222    10
223    23
224    10
225    11
226    23
227    10
228    13
229    13
230    23
231    13
232    22
233    11
234    28
235    28
236    19
237     1
238     5
239    26
240    26
241    18
242    25
243     1
244     1
245    25
246    22
247    26
248    26
249    19
250    19
251     0
252    19
253    19
254    23
255    18
256    13
257    14
258    28
259    23
260    23
261    11
262    23
263    13
264    25
265    23
266    23
267    19
268     8
269     6
270    11
271    23
272    19
273     0
274     9
275    28
276     0
277     0
278    13
279     9
280    23
281    28
282    28
283    26
284    28
285     0
286    28
287     7
288    13
289    24
290    26
291    26
292    22
293     0
294     0
295     1
296     7
297    22
298    28
299     1
300     0
301    19
302    28
303     0
304    23
305    23
306    28
307    28
308    23
309    28
310    10
311     0
312     0
313     0
314     1
315     7
316    23
317    11
318    23
319     6
320    28
321    23
322     1
323    11
324    26
325     0
326    18
327    11
328    25
329    28
330    13
331    12
332    13
333    28
334    10
335    15
336     0
337     0
338    23
339    12
340    28
341    28
342    23
343    28
344    28
345     4
346    28
347    28
348    23
349    25
350    25
351    28
352    13
353    14
354    26
355    28
356    28
357    19
358    23
359    19
360    23
361    13
362    23
363    26
364     3
365    26
366    26
367    28
368    28
369    28
370    27
371     7
372    22
373    28
374    23
375    27
376    27
377    10
378    26
379    27
380    22
381    27
382    23
383    23
384    11
385    27
386    27
387    10
388    27
389    27
390    18
391    19
392    28
393    28
394    28
395    22
396    22
397    22
398    28
399    22
400     0
401    21
402    23
403    14
404    13
405     0
406     0
407     0
408    28
409    22
410    19
411    28
412    28
413    28
414    26
415    22
416    26
417    23
418    28
419    23
420    13
421    28
422    28
423    28
424    11
425    13
426    23
427    10
428    23
429    28
430    23
431    28
432    11
433     8
434    18
435    25
436    13
437    25
438    28
439     1
440    23
441    23
442    28
443    28
444    23
445    28
446     0
447    13
448    28
449    28
450    28
451    26
452    28
453    23
454    23
455     5
456    21
457    28
458    11
459    13
460    23
461    25
462    13
463     7
464    25
465    26
466    26
467    28
468    15
469    23
470    28
471     9
472    28
473    23
474    22
475    22
476    26
477    28
478    28
479    23
480    25
481    25
482    28
483    28
484    26
485    26
486    28
487    25
488    25
489    23
490    23
491    28
492    28
493    28
494    28
495    28
496    28
497    28
498    23
499    28
500    23
501    23
502    23
503    23
504    23
505    23
506    22
507     4
508    11
509    26
510    14
511    28
512    23
513    23
514    23
515    23
516    23
517    23
518    23
519    26
520    28
521     1
522    23
523    10
524    13
525    10
526    10
527    23
528     6
529    10
530     0
531    13
532    21
533    28
534     2
535    28
536     9
537    24
538     1
539    23
540    22
541    28
542    13
543    14
544    28
545    23
546     8
547    23
548     0
549     0
550    14
551     0
552    23
553    26
554    28
555    13
556    28
557    23
558    13
559    23
560    23
561    14
562    18
563    26
564    18
565    13
566    23
567    23
568    23
569    18
570    12
571    12
572    25
573    25
574    13
575    25
576    10
577    18
578    27
579    18
580    27
581    27
582    13
583    27
584    27
585    13
586    23
587     1
588    27
589    28
590    27
591    27
592    28
593    27
594    19
595    27
596     7
597    27
598    27
599    25
600    13
601    23
602    27
603    12
604    27
605    27
606    13
607    27
608    25
609    25
610    27
611     7
612    27
613    23
614    25
615    27
616    27
617    25
618    27
619    23
620    25
621    25
622    12
623    27
624    27
625    27
626    25
627    27
628    25
629    19
630    13
631    27
632    27
633    27
634    10
635    13
636    27
637     7
638    27
639    23
640    25
641    27
642    23
643    27
644    23
645    27
646    27
647    23
648    13
649    27
650    27
651    13
652    19
653    22
654    13
655    10
656    19
657    19
658    13
659    27
660     7
661    16
662    23
663    23
664    10
665    22
666    27
667    19
668    16
669    27
670    28
671    19
672    14
673    27
674    22
675    19
676    28
677     8
678    26
679    13
680    28
681    14
682    19
683    22
684    27
685    23
686     5
687    28
688     0
689    27
690     0
691    16
692    10
693    10
694    22
695    10
696     6
697    10
698    23
699    28
Name: Reason for Absence, dtype: int64

In [7]:
pd.unique(df["Reason for Absence"])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [8]:
len(df["Reason for Absence"].unique())

28

In [9]:
sorted(df["Reason for Absence"].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28]

In [10]:
reason = pd.get_dummies(df["Reason for Absence"])

Add a column to check if workers were absent for more than one reason

In [11]:
reason['check if more than one reason'] = reason.sum(axis = 1)

If valid drop the newly made column

In [12]:
reason = reason.drop(['check if more than one reason'], axis = 1)

Droping column with reason 0 to avoid potential multicollinearity issues

In [13]:
reason = pd.get_dummies(df["Reason for Absence"], drop_first = True)

Group the reasons for absence

Drop the Reason for Absence column and classify the dummy variable , so there arent many columns. Class 1 (1-14) - various Diseases ; Class 2 ( 15-17) -  Pregnancy reasons ; Class 3(18-21) - Poisoning types ; Class 4 (22-28) - Light reasons

In [14]:
reason.columns = reason.columns.astype(int)

In [15]:
reason_type_1 = reason.loc[:,1:14].max(axis=1)
reason_type_2 = reason.loc[:,15:17].max(axis=1)
reason_type_3 = reason.loc[:,18:21].max(axis=1)
reason_type_4 = reason.loc[:,22:].max(axis=1)
df = df.drop(['Reason for Absence'],axis = 1)

Concatenate

In [16]:
df = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4], axis = 1)

In [17]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [18]:
columns_names = ['Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [19]:
df.columns = columns_names

In [20]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1

Reoder Columns

In [21]:
column_names_new = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [22]:
df = df[column_names_new]

In [23]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

Create a Checkpoint

In [24]:
df_reason_mod = df.copy()

Date Column

In [25]:
df_reason_mod['Date']

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
5      10/07/2015
6      17/07/2015
7      24/07/2015
8      06/07/2015
9      13/07/2015
10     20/07/2015
11     14/07/2015
12     15/07/2015
13     15/07/2015
14     15/07/2015
15     17/07/2015
16     17/07/2015
17     27/07/2015
18     30/07/2015
19     05/08/2015
20     12/08/2015
21     03/08/2015
22     10/08/2015
23     14/08/2015
24     17/08/2015
25     24/08/2015
26     04/08/2015
27     12/08/2015
28     19/08/2015
29     28/08/2015
30     17/08/2015
31     27/08/2015
32     27/08/2015
33     17/08/2015
34     17/08/2015
35     17/08/2015
36     04/08/2015
37     20/08/2015
38     21/08/2015
39     28/08/2015
40     01/09/2015
41     07/09/2015
42     01/09/2015
43     08/09/2015
44     09/09/2015
45     13/09/2015
46     14/09/2015
47     24/09/2015
48     04/09/2015
49     14/09/2015
50     21/09/2015
51     28/09/2015
52     08/09/2015
53     15/09/2015
54     22/09/2015
55     29/09/2015
56     16/09/2015
57     23/09/2015
58     30/09/2015
59     11/09/2015
60     18/09/2015
61     25/09/2015
62     06/10/2015
63     13/10/2015
64     14/10/2015
65     15/10/2015
66     16/10/2015
67     16/10/2015
68     06/10/2015
69     14/10/2015
70     21/10/2015
71     22/10/2015
72     21/10/2015
73     21/10/2015
74     22/10/2015
75     13/10/2015
76     20/10/2015
77     21/10/2015
78     23/10/2015
79     30/10/2015
80     05/11/2015
81     04/11/2015
82     05/11/2015
83     12/11/2015
84     19/11/2015
85     02/11/2015
86     09/11/2015
87     16/11/2015
88     18/11/2015
89     20/11/2015
90     18/11/2015
91     25/11/2015
92     20/11/2015
93     27/11/2015
94     02/11/2015
95     10/11/2015
96     11/11/2015
97     26/11/2015
98     01/12/2015
99     01/12/2015
100    02/12/2015
101    02/12/2015
102    03/12/2015
103    04/12/2015
104    08/12/2015
105    09/12/2015
106    10/12/2015
107    11/12/2015
108    15/12/2015
109    16/12/2015
110    11/12/2015
111    18/12/2015
112    18/12/2015
113    06/01/2016
114    04/01/2016
115    05/01/2016
116    05/01/2016
117    06/01/2016
118    07/01/2016
119    07/01/2016
120    08/01/2016
121    11/01/2016
122    12/01/2016
123    12/01/2016
124    13/01/2016
125    14/01/2016
126    15/01/2016
127    11/01/2016
128    12/01/2016
129    12/01/2016
130    12/01/2016
131    13/01/2016
132    21/01/2016
133    28/01/2016
134    25/01/2016
135    26/01/2016
136    28/01/2016
137    05/02/2016
138    03/02/2016
139    10/02/2016
140    11/02/2016
141    11/02/2016
142    12/02/2016
143    12/02/2016
144    08/02/2016
145    09/02/2016
146    15/02/2016
147    09/02/2016
148    16/02/2016
149    23/02/2016
150    25/02/2016
151    15/02/2016
152    16/02/2016
153    17/02/2016
154    25/02/2016
155    01/03/2016
156    01/03/2016
157    08/03/2016
158    15/03/2016
159    16/03/2016
160    02/03/2016
161    03/03/2016
162    04/03/2016
163    04/03/2016
164    07/03/2016
165    14/03/2016
166    21/03/2016
167    22/03/2016
168    24/03/2016
169    24/03/2016
170    25/03/2016
171    25/03/2016
172    28/03/2016
173    29/03/2016
174    30/03/2016
175    28/03/2016
176    28/03/2016
177    29/03/2016
178    30/03/2016
179    30/03/2016
180    17/03/2016
181    18/03/2016
182    25/03/2016
183    28/03/2016
184    06/04/2016
185    13/04/2016
186    12/04/2016
187    13/04/2016
188    14/04/2016
189    15/04/2016
190    15/04/2016
191    06/04/2016
192    07/04/2016
193    08/04/2016
194    08/04/2016
195    22/04/2016
196    29/04/2016
197    29/04/2016
198    26/04/2016
199    27/04/2016
200    27/04/2016
201    28/04/2016
202    08/04/2016
203    04/04/2016
204    04/05/2016
205    05/05/2016
206    02/05/2016
207    03/05/2016
208    03/05/2016
209    11/05/2016
210    09/05/2016
211    10/05/2016
212    04/05/2016
213    11/05/2016
214    18/05/2016
215    25/05/2016
216    25/05/2016
217    24/05/2016
218    11/05/2016
219    27/05/2016
220    06/06/2016
221    13/06/2016
222    14/06/2016
223    16/06/2016
224    17/06/2016
225    13/06/2016
226    20/06/2016
227    27/06/2016
228    29/06/2016
229    03/06/2016
230    07/06/2016
231    08/06/2016
232    09/06/2016
233    10/06/2016
234    20/06/2016
235    30/06/2016
236    05/07/2016
237    06/07/2016
238    08/07/2016
239    08/07/2016
240    12/07/2016
241    14/07/2016
242    15/07/2016
243    18/07/2016
244    19/07/2016
245    18/07/2016
246    19/07/2016
247    20/07/2016
248    21/07/2016
249    11/07/2016
250    14/07/2016
251    21/07/2016
252    04/08/2016
253    11/08/2016
254    07/08/2016
255    08/08/2016
256    10/08/2016
257    10/08/2016
258    11/08/2016
259    08/08/2016
260    09/08/2016
261    10/08/2016
262    10/08/2016
263    10/08/2016
264    14/08/2016
265    15/08/2016
266    17/08/2016
267    24/08/2016
268    08/08/2016
269    30/08/2016
270    05/09/2016
271    09/09/2016
272    07/09/2016
273    08/09/2016
274    12/09/2016
275    13/09/2016
276    13/09/2016
277    13/09/2016
278    14/09/2016
279    14/09/2016
280    15/09/2016
281    16/09/2016
282    16/09/2016
283    14/09/2016
284    15/09/2016
285    15/09/2016
286    16/09/2016
287    26/09/2016
288    26/09/2016
289    05/10/2016
290    05/10/2016
291    05/10/2016
292    06/10/2016
293    06/10/2016
294    06/10/2016
295    12/10/2016
296    12/10/2016
297    12/10/2016
298    14/10/2016
299    14/10/2016
300    14/10/2016
301    15/10/2016
302    16/10/2016
303    16/10/2016
304    19/10/2016
305    19/10/2016
306    20/10/2016
307    20/10/2016
308    22/10/2016
309    22/10/2016
310    26/10/2016
311    27/10/2016
312    27/10/2016
313    27/10/2016
314    28/10/2016
315    28/10/2016
316    29/10/2016
317    07/11/2016
318    07/11/2016
319    08/11/2016
320    11/11/2016
321    14/11/2016
322    14/11/2016
323    14/11/2016
324    14/11/2016
325    15/11/2016
326    16/11/2016
327    16/11/2016
328    17/11/2016
329    17/11/2016
330    18/11/2016
331    18/11/2016
332    21/11/2016
333    22/11/2016
334    23/11/2016
335    25/11/2016
336    25/11/2016
337    29/11/2016
338    24/11/2016
339    05/12/2016
340    05/12/2016
341    05/12/2016
342    05/12/2016
343    06/12/2016
344    09/12/2016
345    15/12/2016
346    15/12/2016
347    16/12/2016
348    20/12/2016
349    20/12/2016
350    22/12/2016
351    23/12/2016
352    20/12/2016
353    20/12/2016
354    21/12/2016
355    19/12/2016
356    19/12/2016
357    19/12/2016
358    04/01/2017
359    09/01/2017
360    09/01/2017
361    03/01/2017
362    03/01/2017
363    09/01/2017
364    11/01/2017
365    16/01/2017
366    16/01/2017
367    25/01/2017
368    27/01/2017
369    07/02/2017
370    01/02/2017
371    01/02/2017
372    03/02/2017
373    10/02/2017
374    17/02/2017
375    13/02/2017
376    15/02/2017
377    16/02/2017
378    16/02/2017
379    17/02/2017
380    13/02/2017
381    13/02/2017
382    21/02/2017
383    21/02/2017
384    22/02/2017
385    22/02/2017
386    24/02/2017
387    24/02/2017
388    22/02/2017
389    24/02/2017
390    07/03/2017
391    08/03/2017
392    10/03/2017
393    10/03/2017
394    13/03/2017
395    13/03/2017
396    14/03/2017
397    14/03/2017
398    20/03/2017
399    22/03/2017
400    22/03/2017
401    23/03/2017
402    24/03/2017
403    28/03/2017
404    29/03/2017
405    30/03/2017
406    30/03/2017
407    30/03/2017
408    31/03/2017
409    31/03/2017
410    27/03/2017
411    28/03/2017
412    05/04/2017
413    07/04/2017
414    07/04/2017
415    10/04/2017
416    10/04/2017
417    12/04/2017
418    12/04/2017
419    17/04/2017
420    19/04/2017
421    28/04/2017
422    28/04/2017
423    24/04/2017
424    26/04/2017
425    01/05/2017
426    03/05/2017
427    08/05/2017
428    10/05/2017
429    10/05/2017
430    11/05/2017
431    12/05/2017
432    15/05/2017
433    15/05/2017
434    17/05/2017
435    17/05/2017
436    19/05/2017
437    22/05/2017
438    22/05/2017
439    29/05/2017
440    31/05/2017
441    05/06/2017
442    05/06/2017
443    06/06/2017
444    08/06/2017
445    09/06/2017
446    09/06/2017
447    12/06/2017
448    12/06/2017
449    13/06/2017
450    19/06/2017
451    20/06/2017
452    26/06/2017
453    28/06/2017
454    28/06/2017
455    28/06/2017
456    28/06/2017
457    30/06/2017
458    27/06/2017
459    27/06/2017
460    06/07/2017
461    06/07/2017
462    07/07/2017
463    10/07/2017
464    14/07/2017
465    14/07/2017
466    17/07/2017
467    18/07/2017
468    24/07/2017
469    24/07/2017
470    25/07/2017
471    25/07/2017
472    25/07/2017
473    28/07/2017
474    28/07/2017
475    24/07/2017
476    24/07/2017
477    25/07/2017
478    27/07/2017
479    27/07/2017
480    03/08/2017
481    07/08/2017
482    08/08/2017
483    08/08/2017
484    08/08/2017
485    08/08/2017
486    10/08/2017
487    14/08/2017
488    15/08/2017
489    17/08/2017
490    22/08/2017
491    22/08/2017
492    22/08/2017
493    24/08/2017
494    28/08/2017
495    05/09/2017
496    05/09/2017
497    05/09/2017
498    05/09/2017
499    07/09/2017
500    08/09/2017
501    08/09/2017
502    11/09/2017
503    13/09/2017
504    18/09/2017
505    19/09/2017
506    26/09/2017
507    05/10/2017
508    05/10/2017
509    06/10/2017
510    11/10/2017
511    11/10/2017
512    17/10/2017
513    19/10/2017
514    20/10/2017
515    24/10/2017
516    24/10/2017
517    24/10/2017
518    24/10/2017
519    24/10/2017
520    25/10/2017
521    25/10/2017
522    25/10/2017
523    26/10/2017
524    26/10/2017
525    27/10/2017
526    27/10/2017
527    29/10/2017
528    29/10/2017
529    29/10/2017
530    29/10/2017
531    31/10/2017
532    07/11/2017
533    08/11/2017
534    08/11/2017
535    10/11/2017
536    14/11/2017
537    15/11/2017
538    17/11/2017
539    17/11/2017
540    21/11/2017
541    22/11/2017
542    23/11/2017
543    23/11/2017
544    27/11/2017
545    27/11/2017
546    28/11/2017
547    28/11/2017
548    28/11/2017
549    29/11/2017
550    30/11/2017
551    30/11/2017
552    24/11/2017
553    24/11/2017
554    27/11/2017
555    05/12/2017
556    06/12/2017
557    06/12/2017
558    08/12/2017
559    08/12/2017
560    13/12/2017
561    14/12/2017
562    15/12/2017
563    15/12/2017
564    18/12/2017
565    19/12/2017
566    19/12/2017
567    21/12/2017
568    18/12/2017
569    19/12/2017
570    01/01/2018
571    04/01/2018
572    04/01/2018
573    05/01/2018
574    08/01/2018
575    10/01/2018
576    11/01/2018
577    12/01/2018
578    15/01/2018
579    16/01/2018
580    17/01/2018
581    17/01/2018
582    17/01/2018
583    18/01/2018
584    26/01/2018
585    06/02/2018
586    06/02/2018
587    07/02/2018
588    07/02/2018
589    08/02/2018
590    08/02/2018
591    08/02/2018
592    09/02/2018
593    09/02/2018
594    12/02/2018
595    12/02/2018
596    13/02/2018
597    14/02/2018
598    15/02/2018
599    15/02/2018
600    15/02/2018
601    16/02/2018
602    16/02/2018
603    21/02/2018
604    21/02/2018
605    21/02/2018
606    22/02/2018
607    23/02/2018
608    26/02/2018
609    26/02/2018
610    26/02/2018
611    26/02/2018
612    27/02/2018
613    27/02/2018
614    27/02/2018
615    28/02/2018
616    22/02/2018
617    23/02/2018
618    05/03/2018
619    05/03/2018
620    06/03/2018
621    06/03/2018
622    06/03/2018
623    07/03/2018
624    08/03/2018
625    08/03/2018
626    08/03/2018
627    09/03/2018
628    12/03/2018
629    12/03/2018
630    13/03/2018
631    14/03/2018
632    15/03/2018
633    16/03/2018
634    19/03/2018
635    19/03/2018
636    19/03/2018
637    19/03/2018
638    20/03/2018
639    21/03/2018
640    21/03/2018
641    21/03/2018
642    22/03/2018
643    22/03/2018
644    23/03/2018
645    23/03/2018
646    27/03/2018
647    28/03/2018
648    28/03/2018
649    28/03/2018
650    29/03/2018
651    26/03/2018
652    26/03/2018
653    28/03/2018
654    02/04/2018
655    02/04/2018
656    03/04/2018
657    04/04/2018
658    05/04/2018
659    06/04/2018
660    09/04/2018
661    10/04/2018
662    10/04/2018
663    10/04/2018
664    11/04/2018
665    13/04/2018
666    13/04/2018
667    16/04/2018
668    17/04/2018
669    20/04/2018
670    24/04/2018
671    26/04/2018
672    26/04/2018
673    27/04/2018
674    07/05/2018
675    09/05/2018
676    09/05/2018
677    09/05/2018
678    09/05/2018
679    10/05/2018
680    10/05/2018
681    10/05/2018
682    11/05/2018
683    11/05/2018
684    11/05/2018
685    14/05/2018
686    15/05/2018
687    15/05/2018
688    15/05/2018
689    16/05/2018
690    16/05/2018
691    18/05/2018
692    21/05/2018
693    21/05/2018
694    23/05/2018
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, dtype: object

In [26]:
df_reason_mod["Date"] = pd.to_datetime(df_reason_mod["Date"], format = '%d/%m/%Y')

In [27]:
df_reason_mod["Date"]

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-07-10
6     2015-07-17
7     2015-07-24
8     2015-07-06
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-08-05
20    2015-08-12
21    2015-08-03
22    2015-08-10
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-08-04
27    2015-08-12
28    2015-08-19
29    2015-08-28
30    2015-08-17
31    2015-08-27
32    2015-08-27
33    2015-08-17
34    2015-08-17
35    2015-08-17
36    2015-08-04
37    2015-08-20
38    2015-08-21
39    2015-08-28
40    2015-09-01
41    2015-09-07
42    2015-09-01
43    2015-09-08
44    2015-09-09
45    2015-09-13
46    2015-09-14
47    2015-09-24
48    2015-09-04
49    2015-09-14
50    2015-09-21
51    2015-09-28
52    2015-09-08
53    2015-09-15
54    2015-09-22
55    2015-09-29
56    2015-09-16
57    2015-09-23
58    2015-09-30
59    2015-09-11
60    2015-09-18
61    2015-09-25
62    2015-10-06
63    2015-10-13
64    2015-10-14
65    2015-10-15
66    2015-10-16
67    2015-10-16
68    2015-10-06
69    2015-10-14
70    2015-10-21
71    2015-10-22
72    2015-10-21
73    2015-10-21
74    2015-10-22
75    2015-10-13
76    2015-10-20
77    2015-10-21
78    2015-10-23
79    2015-10-30
80    2015-11-05
81    2015-11-04
82    2015-11-05
83    2015-11-12
84    2015-11-19
85    2015-11-02
86    2015-11-09
87    2015-11-16
88    2015-11-18
89    2015-11-20
90    2015-11-18
91    2015-11-25
92    2015-11-20
93    2015-11-27
94    2015-11-02
95    2015-11-10
96    2015-11-11
97    2015-11-26
98    2015-12-01
99    2015-12-01
100   2015-12-02
101   2015-12-02
102   2015-12-03
103   2015-12-04
104   2015-12-08
105   2015-12-09
106   2015-12-10
107   2015-12-11
108   2015-12-15
109   2015-12-16
110   2015-12-11
111   2015-12-18
112   2015-12-18
113   2016-01-06
114   2016-01-04
115   2016-01-05
116   2016-01-05
117   2016-01-06
118   2016-01-07
119   2016-01-07
120   2016-01-08
121   2016-01-11
122   2016-01-12
123   2016-01-12
124   2016-01-13
125   2016-01-14
126   2016-01-15
127   2016-01-11
128   2016-01-12
129   2016-01-12
130   2016-01-12
131   2016-01-13
132   2016-01-21
133   2016-01-28
134   2016-01-25
135   2016-01-26
136   2016-01-28
137   2016-02-05
138   2016-02-03
139   2016-02-10
140   2016-02-11
141   2016-02-11
142   2016-02-12
143   2016-02-12
144   2016-02-08
145   2016-02-09
146   2016-02-15
147   2016-02-09
148   2016-02-16
149   2016-02-23
150   2016-02-25
151   2016-02-15
152   2016-02-16
153   2016-02-17
154   2016-02-25
155   2016-03-01
156   2016-03-01
157   2016-03-08
158   2016-03-15
159   2016-03-16
160   2016-03-02
161   2016-03-03
162   2016-03-04
163   2016-03-04
164   2016-03-07
165   2016-03-14
166   2016-03-21
167   2016-03-22
168   2016-03-24
169   2016-03-24
170   2016-03-25
171   2016-03-25
172   2016-03-28
173   2016-03-29
174   2016-03-30
175   2016-03-28
176   2016-03-28
177   2016-03-29
178   2016-03-30
179   2016-03-30
180   2016-03-17
181   2016-03-18
182   2016-03-25
183   2016-03-28
184   2016-04-06
185   2016-04-13
186   2016-04-12
187   2016-04-13
188   2016-04-14
189   2016-04-15
190   2016-04-15
191   2016-04-06
192   2016-04-07
193   2016-04-08
194   2016-04-08
195   2016-04-22
196   2016-04-29
197   2016-04-29
198   2016-04-26
199   2016-04-27
200   2016-04-27
201   2016-04-28
202   2016-04-08
203   2016-04-04
204   2016-05-04
205   2016-05-05
206   2016-05-02
207   2016-05-03
208   2016-05-03
209   2016-05-11
210   2016-05-09
211   2016-05-10
212   2016-05-04
213   2016-05-11
214   2016-05-18
215   2016-05-25
216   2016-05-25
217   2016-05-24
218   2016-05-11
219   2016-05-27
220   2016-06-06
221   2016-06-13
222   2016-06-14
223   2016-06-16
224   2016-06-17
225   2016-06-13
226   2016-06-20
227   2016-06-27
228   2016-06-29
229   2016-06-03
230   2016-06-07
231   2016-06-08
232   2016-06-09
233   2016-06-10
234   2016-06-20
235   2016-06-30
236   2016-07-05
237   2016-07-06
238   2016-07-08
239   2016-07-08
240   2016-07-12
241   2016-07-14
242   2016-07-15
243   2016-07-18
244   2016-07-19
245   2016-07-18
246   2016-07-19
247   2016-07-20
248   2016-07-21
249   2016-07-11
250   2016-07-14
251   2016-07-21
252   2016-08-04
253   2016-08-11
254   2016-08-07
255   2016-08-08
256   2016-08-10
257   2016-08-10
258   2016-08-11
259   2016-08-08
260   2016-08-09
261   2016-08-10
262   2016-08-10
263   2016-08-10
264   2016-08-14
265   2016-08-15
266   2016-08-17
267   2016-08-24
268   2016-08-08
269   2016-08-30
270   2016-09-05
271   2016-09-09
272   2016-09-07
273   2016-09-08
274   2016-09-12
275   2016-09-13
276   2016-09-13
277   2016-09-13
278   2016-09-14
279   2016-09-14
280   2016-09-15
281   2016-09-16
282   2016-09-16
283   2016-09-14
284   2016-09-15
285   2016-09-15
286   2016-09-16
287   2016-09-26
288   2016-09-26
289   2016-10-05
290   2016-10-05
291   2016-10-05
292   2016-10-06
293   2016-10-06
294   2016-10-06
295   2016-10-12
296   2016-10-12
297   2016-10-12
298   2016-10-14
299   2016-10-14
300   2016-10-14
301   2016-10-15
302   2016-10-16
303   2016-10-16
304   2016-10-19
305   2016-10-19
306   2016-10-20
307   2016-10-20
308   2016-10-22
309   2016-10-22
310   2016-10-26
311   2016-10-27
312   2016-10-27
313   2016-10-27
314   2016-10-28
315   2016-10-28
316   2016-10-29
317   2016-11-07
318   2016-11-07
319   2016-11-08
320   2016-11-11
321   2016-11-14
322   2016-11-14
323   2016-11-14
324   2016-11-14
325   2016-11-15
326   2016-11-16
327   2016-11-16
328   2016-11-17
329   2016-11-17
330   2016-11-18
331   2016-11-18
332   2016-11-21
333   2016-11-22
334   2016-11-23
335   2016-11-25
336   2016-11-25
337   2016-11-29
338   2016-11-24
339   2016-12-05
340   2016-12-05
341   2016-12-05
342   2016-12-05
343   2016-12-06
344   2016-12-09
345   2016-12-15
346   2016-12-15
347   2016-12-16
348   2016-12-20
349   2016-12-20
350   2016-12-22
351   2016-12-23
352   2016-12-20
353   2016-12-20
354   2016-12-21
355   2016-12-19
356   2016-12-19
357   2016-12-19
358   2017-01-04
359   2017-01-09
360   2017-01-09
361   2017-01-03
362   2017-01-03
363   2017-01-09
364   2017-01-11
365   2017-01-16
366   2017-01-16
367   2017-01-25
368   2017-01-27
369   2017-02-07
370   2017-02-01
371   2017-02-01
372   2017-02-03
373   2017-02-10
374   2017-02-17
375   2017-02-13
376   2017-02-15
377   2017-02-16
378   2017-02-16
379   2017-02-17
380   2017-02-13
381   2017-02-13
382   2017-02-21
383   2017-02-21
384   2017-02-22
385   2017-02-22
386   2017-02-24
387   2017-02-24
388   2017-02-22
389   2017-02-24
390   2017-03-07
391   2017-03-08
392   2017-03-10
393   2017-03-10
394   2017-03-13
395   2017-03-13
396   2017-03-14
397   2017-03-14
398   2017-03-20
399   2017-03-22
400   2017-03-22
401   2017-03-23
402   2017-03-24
403   2017-03-28
404   2017-03-29
405   2017-03-30
406   2017-03-30
407   2017-03-30
408   2017-03-31
409   2017-03-31
410   2017-03-27
411   2017-03-28
412   2017-04-05
413   2017-04-07
414   2017-04-07
415   2017-04-10
416   2017-04-10
417   2017-04-12
418   2017-04-12
419   2017-04-17
420   2017-04-19
421   2017-04-28
422   2017-04-28
423   2017-04-24
424   2017-04-26
425   2017-05-01
426   2017-05-03
427   2017-05-08
428   2017-05-10
429   2017-05-10
430   2017-05-11
431   2017-05-12
432   2017-05-15
433   2017-05-15
434   2017-05-17
435   2017-05-17
436   2017-05-19
437   2017-05-22
438   2017-05-22
439   2017-05-29
440   2017-05-31
441   2017-06-05
442   2017-06-05
443   2017-06-06
444   2017-06-08
445   2017-06-09
446   2017-06-09
447   2017-06-12
448   2017-06-12
449   2017-06-13
450   2017-06-19
451   2017-06-20
452   2017-06-26
453   2017-06-28
454   2017-06-28
455   2017-06-28
456   2017-06-28
457   2017-06-30
458   2017-06-27
459   2017-06-27
460   2017-07-06
461   2017-07-06
462   2017-07-07
463   2017-07-10
464   2017-07-14
465   2017-07-14
466   2017-07-17
467   2017-07-18
468   2017-07-24
469   2017-07-24
470   2017-07-25
471   2017-07-25
472   2017-07-25
473   2017-07-28
474   2017-07-28
475   2017-07-24
476   2017-07-24
477   2017-07-25
478   2017-07-27
479   2017-07-27
480   2017-08-03
481   2017-08-07
482   2017-08-08
483   2017-08-08
484   2017-08-08
485   2017-08-08
486   2017-08-10
487   2017-08-14
488   2017-08-15
489   2017-08-17
490   2017-08-22
491   2017-08-22
492   2017-08-22
493   2017-08-24
494   2017-08-28
495   2017-09-05
496   2017-09-05
497   2017-09-05
498   2017-09-05
499   2017-09-07
500   2017-09-08
501   2017-09-08
502   2017-09-11
503   2017-09-13
504   2017-09-18
505   2017-09-19
506   2017-09-26
507   2017-10-05
508   2017-10-05
509   2017-10-06
510   2017-10-11
511   2017-10-11
512   2017-10-17
513   2017-10-19
514   2017-10-20
515   2017-10-24
516   2017-10-24
517   2017-10-24
518   2017-10-24
519   2017-10-24
520   2017-10-25
521   2017-10-25
522   2017-10-25
523   2017-10-26
524   2017-10-26
525   2017-10-27
526   2017-10-27
527   2017-10-29
528   2017-10-29
529   2017-10-29
530   2017-10-29
531   2017-10-31
532   2017-11-07
533   2017-11-08
534   2017-11-08
535   2017-11-10
536   2017-11-14
537   2017-11-15
538   2017-11-17
539   2017-11-17
540   2017-11-21
541   2017-11-22
542   2017-11-23
543   2017-11-23
544   2017-11-27
545   2017-11-27
546   2017-11-28
547   2017-11-28
548   2017-11-28
549   2017-11-29
550   2017-11-30
551   2017-11-30
552   2017-11-24
553   2017-11-24
554   2017-11-27
555   2017-12-05
556   2017-12-06
557   2017-12-06
558   2017-12-08
559   2017-12-08
560   2017-12-13
561   2017-12-14
562   2017-12-15
563   2017-12-15
564   2017-12-18
565   2017-12-19
566   2017-12-19
567   2017-12-21
568   2017-12-18
569   2017-12-19
570   2018-01-01
571   2018-01-04
572   2018-01-04
573   2018-01-05
574   2018-01-08
575   2018-01-10
576   2018-01-11
577   2018-01-12
578   2018-01-15
579   2018-01-16
580   2018-01-17
581   2018-01-17
582   2018-01-17
583   2018-01-18
584   2018-01-26
585   2018-02-06
586   2018-02-06
587   2018-02-07
588   2018-02-07
589   2018-02-08
590   2018-02-08
591   2018-02-08
592   2018-02-09
593   2018-02-09
594   2018-02-12
595   2018-02-12
596   2018-02-13
597   2018-02-14
598   2018-02-15
599   2018-02-15
600   2018-02-15
601   2018-02-16
602   2018-02-16
603   2018-02-21
604   2018-02-21
605   2018-02-21
606   2018-02-22
607   2018-02-23
608   2018-02-26
609   2018-02-26
610   2018-02-26
611   2018-02-26
612   2018-02-27
613   2018-02-27
614   2018-02-27
615   2018-02-28
616   2018-02-22
617   2018-02-23
618   2018-03-05
619   2018-03-05
620   2018-03-06
621   2018-03-06
622   2018-03-06
623   2018-03-07
624   2018-03-08
625   2018-03-08
626   2018-03-08
627   2018-03-09
628   2018-03-12
629   2018-03-12
630   2018-03-13
631   2018-03-14
632   2018-03-15
633   2018-03-16
634   2018-03-19
635   2018-03-19
636   2018-03-19
637   2018-03-19
638   2018-03-20
639   2018-03-21
640   2018-03-21
641   2018-03-21
642   2018-03-22
643   2018-03-22
644   2018-03-23
645   2018-03-23
646   2018-03-27
647   2018-03-28
648   2018-03-28
649   2018-03-28
650   2018-03-29
651   2018-03-26
652   2018-03-26
653   2018-03-28
654   2018-04-02
655   2018-04-02
656   2018-04-03
657   2018-04-04
658   2018-04-05
659   2018-04-06
660   2018-04-09
661   2018-04-10
662   2018-04-10
663   2018-04-10
664   2018-04-11
665   2018-04-13
666   2018-04-13
667   2018-04-16
668   2018-04-17
669   2018-04-20
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-05-07
675   2018-05-09
676   2018-05-09
677   2018-05-09
678   2018-05-09
679   2018-05-10
680   2018-05-10
681   2018-05-10
682   2018-05-11
683   2018-05-11
684   2018-05-11
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, dtype: datetime64[ns]

In [28]:
type(df_reason_mod['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [29]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    uint8
 1   Reason_2                   700 non-null    uint8
 2   Reason_3                   700 non-null    uint8
 3   Reason_4                   700 non-null    uint8
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(8), uint8(4)
memory usage: 57.5 KB

Extract the month of the date

In [30]:
list_months =[]

In [31]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [32]:
list_months

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [33]:
df_reason_mod['Month Value'] = list_months

In [34]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

Extract the day of the date

In [35]:
def date_to_weekday(date):
    return date.weekday()

In [36]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [37]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [38]:
df_reason_mod = df_reason_mod.drop(['Date'], axis = 1)

In [39]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [40]:
df_reason_mod_new_columns = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Day of the Week','Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [41]:
df_reason_mod = df_reason_mod[df_reason_mod_new_columns]

In [42]:
df_reason_date_mod = df_reason_mod.copy()

In [43]:
df_reason_date_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,1,2,1,2

Transportation Exprense, Distance to Work , Age, Daily Workload Average and Body Mass Index are going to be kept but I dont think they need preprocessing

In [44]:
df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

Education : 1 - high school , 2 - graduate, 3 - postgraduate , 4 - master or doctor

In [45]:
df_reason_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

Categories 2,3,4 can be combined

In [46]:
df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0,2:1,3:1,4:1})

Final Checkpoint

In [47]:
df_preprocessed = df_reason_date_mod.copy()

In [48]:
df_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [49]:
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index=False)